#background-wrapper{
  width: calc(100vw - 40px);
  padding: 20px;
  min-height: calc(100vh - 40px);
}

#content-container {
  margin: auto;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 440px;
}

#quote-box {
  /*min-width: 50%; */
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

#quote-container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

#quote-content {
  flex-grow: 1;
}

#text {
  font-size: 30px;
  padding-bottom: 20px;
}

#author {
  text-align: right;
  font-size: 20px;
  font-style: italic;
  padding-bottom: 20px;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-quote {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

#new-quote {
  margin: 0;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 300;
}

#new-quote:hover {
  font-weight: 500;
}




